/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
body {
    min-height: 100vh;
    background: #F0E7C7;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin: 0;
    color: #560100;
    min-height: 10vh;
    max-height: 12vh;
    max-width: 100vw;
}

.container{
    display: grid;
    grid-template-columns: 22% 22% auto;
    grid-template-areas:
     "menu sidebar content";
    column-gap: 1em;
    flex: 1;
    height: 100%;
}

.menu {
    display: grid;
    grid-area: menu;
    margin: 0;
    column-height: 85vh;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: inline-flex;
    grid-area: sidebar;
    padding: 0;
    column-height: 85vh;
    column-width: 22vw;
    background-color: #B06161;
}

dialog {
    grid-area: sidebar;
    margin: 0;
    max-height: 80vh;
    max-width: 20vw;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.content {
    display: grid;
    grid-area: content;
    justify-content: center;
    align-items: center;
}

/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

nav a{
    background-color: #D55574;
    max-height: 10vh;
    padding: .75em 0em 0em 1em;
    border: 0;
    color: #F8E0E1;
    font-size: 1.5rem;
    font-family: merriwether sans, sans-serif;
}

nav h1 {
    padding: .5em 1em 0em 1em;
    max-height: 15vh;
    margin: 0;
    font-size: xx-large;
    color: #F8E0E1;
    background-color:#D55574;
;
}

.container div {
    margin: 0;
}

/* initial selection of customization options */
.menu button {
    margin: 2px 0;
    font-family: merriwether sans, sans-serif;
    background-color:#D55574;
    color: #F0E7C7;
    border: 0;
    border-radius: 10px;
    padding: .75rem .75rem;
    font-size: 1.5em;
    min-width: 20vw;
    width: auto;
    font-size: 1rem;
}

.sidebar p {
    font-family: merriwether sans, sans-serif;
    color: #F8E0E1;
    font-size: larger;
    margin: 0;
    padding: 1rem 1rem;
    text-wrap: wrap;
}
/* color selection */
table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    border-spacing: 0px;
    border-collapse: collapse;
}

table#stPalette td {
    width: 50%;
    height: 25%;
    overflow: hidden;
    border-collapse: collapse;
}

table#paletteEC td,
table#paletteHC td {
    border: 1px solid #560100;
    width: 20%;
    height: 10%;
    overflow: hidden;
    border-collapse: collapse;
}

.hcOptions, .ecOptions {
    flex: 1;
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.stOptions {
  flex: 1;
  flex-wrap: wrap;
  width:100%;
  height:100%;
  cursor:pointer;
  border-collapse: collapse;
}

.expressionButton {
    margin: 0.5em;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
}

.colorChange {
    height: 100%;
    width: 16%;
    border-radius: 0%;
}

/* object selection */

dialog button {
    margin: .5em;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width:5vw;
    background-color:#D55574;
    border-radius: 2em;
    padding: 0.5rem 1rem;
    width: auto;
    font-size: 1rem;
}

dialog div{
    justify-content: center;
    align-items: center;
    margin:0 10px;
    max-height: 10%;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.dialog-header h2{
    margin: 0;
    font-size: 1.5rem;
}


dialog img {
    width: 100%;
    height: auto;
}
svg {
    border: solid #fefefe;
    border-width: 1em 1em 5em 1em;
    display: block;
    width: 100%;
    height: auto;
    max-height: 90vh;
    background-color: #f8f9fa;
}

.doll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.color {
  flex: 0 0 auto;
  top:0;
  width:53px;
  height:53px;
  margin:15px 10px;
  cursor:pointer;
  border-radius:10px;
}


/* content section */

button:hover {
    border:3px solid #560100;
}

@media (width <= 650px) {
    .body {
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: grid;
        max-width: 100vw;
        max-height: 10vh;
    }

     .container {
        display: grid;
        grid-template-rows: 90% 10%;
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "sidebar content"
        "menu menu";
        flex: .75;
        width: 100vw;
        height: 100vh;
    }

    .content {
        display: grid;
        grid-area: content;
        max-width: 60%;
        max-height: 70vh;
        margin-bottom: .5rem;
        margin-left: 10rem;
        overflow: auto;
    }
    .svg {
        display: block;
        height: 95%;
        width: 85%;
    }

    .dialog-header {
        display: block;
        margin-bottom: 1rem;
    }
    .sidebar p {
        font-size: small;
    }

    .dialog {
        max-height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: row; /* Layout content side-by-side */
        gap: 20px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        min-width: 100%;
        gap: 1em;
    }
}

@media (width <= 400px) {
    .body {
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: grid;
        max-width: 100vw;
        max-height: 10vh;
    }
    .nav a {
        font-size: 14px;
    }
    .container {
        display: grid;
        grid-template-rows: 50% auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "content"
        "sidebar"
        "menu";
        flex: 1;
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .content {
        display: grid;
        grid-area: content;
        max-width: 100%;
        height: auto;
        margin-bottom: .5rem;
        margin-left: 10rem;
        overflow: auto;
    }
}